html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v23-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v23-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/montserrat-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



html {
    box-sizing: border-box; 
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

.wrapper {
    max-width: 1194px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-areas: "advert content"; */
}

.card__info {
   padding: 60px;
}

.right-side {
    /* grid-area: content; */
    background: #fff;
}


.left-side {
    /* grid-area: advert; */
    background: #A06F64;
}

.section__title_right {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section__title_left {
    font-size: 1.5em;
    font-weight: 700;
    color:#592728;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.icon {
    color: rgb(70, 32, 32);
    margin-right: 10px;
    display: inline;
    width: 2rem;
    font-size: 1.35rem;
}
/*header style start*/

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 3;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 20px 0 20px 0;
    background-color: #A06F64;
}

.header__nav {
    align-items: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header__item {
    margin-left: 70px;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.header__link:hover, .header__link:active, .header__link:focus {
    color: #ccc;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/*header style end*/




/*profile style start*/
.profile {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0 20px 0;
}

.profile__pic {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
}

.profile__title {
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 10px;
}

.profile__subtitle {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}
/*profile style end*/


/*contacts style start*/

.contacts {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

.contacts-item {
    margin-bottom: 10px;
}

.contacts__link {
    text-decoration: none;
    color: rgb(49, 37, 37);
}

.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
    color: #ccc;
}
/*contacts style end*/


/*skills style start*/
.skills {
    padding-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.skills-list {
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.skills-item {
    list-style: none;
    margin-bottom: 10px;
}

.skills-item:hover, .skills-item:focus, .skills-item:active {
    color: #ccc;
}


/*skills style end*/

/*courses style start*/
.courses {
    padding-bottom: 15px;
    
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.courses__item {
    padding-bottom: 10px;
}
/*courses style end*/


/*about_mysel style start*/
.about_myself {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(97, 18, 18, 0.2);
    margin-top: 20px;
}

.about_myself:last-child {
    margin-bottom: 0;
}

.about_myself__list {
    margin-left: 15px;
}

.about_myself__subtitle {
    width: 590px;
    margin-bottom: 10px;
    color: #333;
}

.about_myself__subtitle__bold {
    margin-bottom: 10px;
    font-weight: 600;
}

.about_myself__item {
    padding-left: 25px;
    padding-bottom: 10px; 
    position: relative;
}

.about__myself_icon-check {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1.5px;
    left: 0;
}
/*about_mysel style end*/





/*aducation style start*/
.aducation {
    padding-bottom: 45px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.aducation__list {
    margin-bottom: 60px;
}

.aducation__item {
    position: absolute;
    padding-left: 15px;
    line-height: 1.4;
}

.aducation__icon {
    position: relative;
    top: 2px;
    left: 0;
    color: rgb(70, 32, 32);
    width: 100%;
}

.aducation__text-un {
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.aducation_age {
    padding-left: 37px;
}

.aducation__name-prof {
    padding-left: 36px;
}
/*aducation style end*/

/*code_example style start*/
.code {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(97, 18, 18, 0.2);
}

.code__subtitle {
    margin-bottom: 10px;
}

pre {
    width: 550px;
    background-color: rgb(49, 37, 37);
    margin-bottom: 20px;
}

.code__example {
    font-size: 12px;
    position: relative;
    color: #ccc;
    top: 0;
    left: -60px;
}
/*code_example style end*/

/*my project style start*/
.projects {
    background: var(--main-blue);
}

.projects-title {
    margin-bottom: 30px;
}

.project_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 0rem 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.project-tile {
    text-decoration: none;
    color: var(--main-white);
}

.project-image {
    display: block;
    height: calc(100% - 2.7rem);
    width: 100%;
    object-fit: cover;
}

.code_project {
    color: #fff;
    transition: color 0.3s ease-out;
}

.code_project:hover, .code_project:active {
    color: #ff7f50;
}

.project-subtitle {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 8px;
}

/*my project style start*/


/*aducation style start*/

.languages__list {
    margin-bottom: 20px;
}
.languages__item {
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    padding-left: 30px;
}

.languages__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1.5px;
    left: 0;
}

.languages__link {
    position: relative;
    text-decoration: none;
    color:rgb(70, 32, 32);
    font-weight: 600;
}

.languages__link:hover, .languages__link:active, .languages__link:focus {
    color:brown;
    font-weight: bold;
}

.languages__link::before {
    content: '';
	position: absolute;
	right: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: brown;
    transition: width 0.35s;
}

.languages__link:hover::before {
    width: 100%;
}

.languages__subtitle {
    font-weight: 500;
    margin-top: 15px;
}
/*aducation style end*/

/*footer style start*/
.footer {
    background: #825146;;
    /* padding-top: 40px;
    padding-bottom: 40px; */

}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    padding: 0 2rem;
}

.contact-section-header {
    padding: 30px 0px;
}

.contact-section-header > h2 {
    font-size: 3rem;
    color: #ccc;
    margin-bottom: 20px;
}

.contact-section-header > p {
    font-style: italic;
    color: #382323;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-details {
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 2px 2px 1px #653f3f;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    color: #592728;
}
  
.contact-details:hover {
    transform: translateY(8px);
}

.footer__link__shcool {
    width: 80px;
    height: 40px;
}

/* .footer-content{
    margin-bottom: 20px;
} 

.footer__social__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer__social__item{
    margin: 0;
}

.footer__link {
    text-decoration: none;
    color: #592728;
    font-size: 30px;
    transition: color .4s ease;
    letter-spacing: 2em;
}

.footer__link:hover, .footer__link:active, .footer__link:focus {
    color: #333;
}

 */

.footer-bottom {
    text-align: center;
}

.footer__subtitle {
    font-size: 14px;
    word-spacing: 2px;
    color: #382323;
    text-transform: capitalize;
}
/*footer style end*/

/*Media start*/

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px; 
        transform: translateX(100%);
        transition: .2s linear;
    }

    .header__nav_activ {
        transform: translateX(0);
    }

     .header__wrapper {
        padding-top: 40px;
    }

    .header__burger {
        display: block;
        left: 40px;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px; 
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header__nav_activ {
        transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-size: 42px;
        line-height: 48px;
    }

    .header__nav-close {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 60px;
        right: 70px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    } 

    .profile {
        margin-top: 40px;
    }

    .card__info {
        padding-left: 70px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    } 
 

    .footer__social__item:last-child {
        margin-right: 50px;
    }

    .footer__subtitle {
        text-align: center;
    }
    
    /* .footer {
        width: 100%;
    } */

    /* .container {
        width: 100%;
        grid-template-areas:
        "advert"
        "content";
        grid-template-columns: auto;
    }

    .right-side {
        width: 100px;
    }

    .left-side {
        width: 100%;
    } */

}

/*Media end*/
